<div class="example-container">
  <form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>bio</mat-label>
    <textarea matInput placeholder="" formControlName="bio"></textarea>
  </mat-form-field><br>
  <mat-form-field>
      <mat-label>interests</mat-label>
      <textarea matInput placeholder="" formControlName="interests"></textarea>
  </mat-form-field><br>
    <div class="previous-button">
      <button type="button"  mat-flat-button color="primary" matStepperPrevious> Previous </button>
      <button type="button" mat-flat-button color="accent"  (click)="onSubmit()"> Submit </button>
    </div>
  </form>
</div>