<div class="example-container">
  <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>username</mat-label>
    <input matInput placeholder="" formControlName="username">
  </mat-form-field>
  <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput placeholder="" type="password" formControlName="password">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput placeholder="" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="" formControlName="lastName">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mobile</mat-label>
    <input matInput placeholder=""formControlName="mobile">
  </mat-form-field><br>
    <div class="registration-buttons">
      <button class="submit-button" type="submit" mat-flat-button color="primary"> Register </button>
    </div>
  </form>
</div>