.content-panel {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.26);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.26);
  max-width:100%;
  margin-left:0;
  min-height:100vh;
  height:100%;
  border-radius:3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.content-panel.panel-small{
  max-width:100%;
  margin-left: 0;
}

.header {
  border-radius: 3px 3px 0 0;
  text-align:left;
  padding:10px 20px;
}

.header h2 {
  margin:0;
  color:#6834BA;
  font-size:24px;
  font-style: roboto;
  letter-spacing: 1.5px;
}

.body {
  padding:15px;
}

@media(min-width:768px) {
  .body {
    padding: 35px;
  }

  .content-panel {
    height:auto;
    min-height:auto;
    margin-top: 15vh;
    max-width:90%;
    margin-left:5%;
  }

  .content-panel.panel-small{
    max-width:50%;
    margin-left: 25%;

  }
}

@media(min-width:1200px) {
  .content-panel {
    max-width:75%;
    margin-left:12.5%;
  }

  .content-panel.panel-small{
    max-width:30%;
    margin-left: 35%;
  }
}
